<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1> LED WALL </h1>
      <p> Controll your LED Wall via Webserver <p>
    </div>

    <br>
      <h2> Start and Control Options</h2>
      <hr style="width:100%;text-align:left;margin-left:0">

      <button  onclick="location.href='/on'" class="btn btn-success" > Start </button>
      <button onclick="location.href='/Shutdown'" class="btn btn-success" > Shutdown </button>
      <button onclick="location.href='/LEDTest'" class="btn btn-success" > LEDTest </button>
    <br>
    <br>

      <br>
      <h3> Choose Gamemode</h3>
      <hr style="width:100%;text-align:left;margin-left:0">

      <button onclick= "location.href='/Gamemode1'" class="btn btn-success" > Gamemode1 </button>

      <button onclick= "location.href='/Gamemode2'" class="btn btn-success" > Gamemode2 </button>





  </div>
</body>

