<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
</head>


<body>

 <h1 class="headings">LED WALL</h1>
    <h2 class="headings">Start and Control Options</h2>

    <button class="btn"  onclick="this.focus() ; location.href='/Capture';">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> CameraMode
        </span>
    </button>
    <button onclick="this.focus() ; location.href='/Shutdown'">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Shutdown
        </span>
    </button >
    <button onclick="this.focus() ; location.href='/Weather'">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Temperatur Test
        </span>
    </button>


    <h2 class="headings"> Choose Gamemode </h2>
    <button onclick="this.focus() ; location.href='/LiveRenderMode'" >
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> CameraRender
        </span>
    </button>
    <button onclick="this.focus() ; location.href='/RenderImage'">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> ShowImage
        </span>
    </button>

 <button onclick="this.focus() ; location.href='/LightMode'">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> LightMode
        </span>
    </button>

</body>

